body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #bf9d7d;
}

a {
  color: #5900ff;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}
